<footer class="bg-light text-dark py-4">
    <div class="container">
        <p class="mb-0">&copy; 2025 To-Do App. All rights reserved.</p>
        <ul class="footer-links list-unstyled d-flex justify-content-center mt-3">
            {% comment %} 
            <li class="mx-3"><a class="text-white" href="{% url 'home' %}">Home</a></li>
            <li class="mx-3"><a class="text-white" href="{% url 'about' %}">About</a></li>
            <li class="mx-3"><a class="text-white" href="{% url 'contact' %}">Contact</a></li> 
            {% endcomment %}
        </ul>
    </div>
</footer>