{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ user.username }}'s Tasks
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <form class="form" hx-post="{% url 'task-create' %}" hx-target="#task-list" hx-swap="outerHTML"
    hx-on::after-request="this.reset()">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Add Task</button>
    </form>
</div>
<div class="mt-5">
    <div class="container mt-5">
        <h1 class="mb-4">Tasks</h1>
        {% include "partials/task_list_partial.html" %}
    </div>
</div>


{% endblock content %}

